// Margins

.margin-bottom_medium {
    margin-bottom: $size_medium;
}
.margin-bottom_x-small {
    margin-bottom: $size_x-small;
}
.margin-bottom_small {
    margin-bottom: $size_small;
}
.margin-bottom_thin {
    margin-bottom: $size_thin;
}