// Margins

.margin-bottom_medium {
    margin-bottom: $size_medium;
}
.margin-bottom_x-small {
    margin-bottom: $size_x-small;
}
.margin-bottom_small {
    margin-bottom: $size_small;
}
.margin-bottom_thin {
    margin-bottom: $size_thin;
}

.margin-right_medium {
    margin-right: $size_medium;
}
.margin-right_x-small {
    margin-right: $size_x-small;
}
.margin-right_small {
    margin-right: $size_small;
}
.margin-right_thin {
    margin-right: $size_thin;
}

// Paddings

.padding-bottom_medium {
    padding-bottom: $size_medium;
}
.padding-bottom_x-small {
    padding-bottom: $size_x-small;
}
.padding-bottom_small {
    margin-bottom: $size_small;
}
.padding-bottom_thin {
    padding-bottom: $size_thin;
}

// Borders

.border-bottom {
    border-bottom: 1px solid $color_primary-clearer;
}

// Align

.align-center {
    text-align: center;
    align-self: center;
}