.help {
    .customer-image {
        width: 100%;
        height: 120px;
        border-radius: $radius_primary;
        background-image: url('./../../../public/assets/images/customer-service.webp');
        background-color: $color_primary-clearer;
        background-position: center 28%;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
    }

    hr {
        display: block;
        height: $size_medium;
    }
    
    span {
        a {
            text-decoration: none;
            color: $color_subtext;
        }
    }
}