.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    gap: $size_small;
    svg {
        path {
            fill: $color_subtext;
        }
    }
}