.not-found {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    gap: $size_small;
    svg:not(.colored) {
        path:not(.colored) {
            fill: $color_subtext;
        }
    }
}