.snap_sections {
    display: grid;
    align-content: stretch;
    scroll-snap-type: y mandatory;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    text-align: center;

    section {
        display: grid;
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        scroll-snap-align: start;
        padding: $size_medium $size_medium 0 $size_medium;
        overflow: hidden;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: $size_medium;
            text-align: center;
            align-self: end;
            margin-bottom: $size_medium;

            .container-logo {
                padding: 0 $size_large 0 $size_large;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .action_buttons {
                gap: $size_small;
    
                button, .button, [type="button"] {
                    padding: $size_medium;
                    &.normal {
                        background-color: transparent;
                        @media (hover) {
                            &:hover {
                                box-shadow: $shadow_4;
                                transition: all .3s cubic-bezier(0,0,.5,1);
                            }
                        }
                    }
                    &.accent {
                        background-color: $color_accent;
                        box-shadow: $shadow_1;
                        border: none;
                        
                    }
                    
                }
            }

        }
        .app_screen {
            display: grid;
            width: 100%;
            max-width: 720px;
            min-width: 320px;
            max-height: 280px;
            aspect-ratio: 16 / 9;
            background-color: $color_primary-darker;
            box-shadow: 0 -14px 28px -28px rgba(0,0,0,0.25), 0 -10px 10px -10px rgba(0,0,0,0.22);
            border-radius: $radius_primary $radius_primary 0 0;
            border: 1px solid $color_primary-clearer;
            border-bottom: none;
            justify-self: center;
            align-self: end;

            background-image: url('../../../public/assets/images/screen_shoot.webp');
            background-repeat: no-repeat;
            background-position: center 0;
            background-size: cover;
            object-fit: cover;
        }
        .description {
            display: flex;
            flex-direction: column;
            gap: $size_small;
        }
    }
}